.DS_Store
*.xcodeproj
*.xcworkspace
xcuserdata/
DerivedData/
build/
.swiftpm/
.build/
Apps/iOS/Info.plist
Resources/Samples/*.wav
Apps/iOS/Scores/*.score
Web/node_modules/
Web/dist/
Web/dist-*/
Web/samples/
Web/core/
